* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #141619;
    background-color: #f0f0f0;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #2c2c2c;
    margin-bottom: 2rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
    padding: auto;
    line-height: 4vh;
    text-align: justify;
}