<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShunnoWaste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="main-section">
        <nav class="navbar">
            <a href="/" class="logo">ShunnoWaste</a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/find_bins">Find Bin</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <a href="/login" class="login"><i class='bx bxs-user'></i> Login</a>
        </nav>

        <section class="body-section">
            <h1>ShunnoWaste</h1>
            <p>ShunnoWaste is designed as a smart recycling management system that integrates
                digital tracking, automated inventory management, and a structured rewards mechanism
                to encourage recycling. By leveraging software-driven automation, this system ensures
                efficient material flow between users and businesses while promoting sustainable
                practices.</p>
        </section>
    </section>
</body>

</html>